button {
	width: 5rem;
	min-width: 5rem;
	align-items: center;
	font-size: 1.5rem;
	cursor: pointer;
}

h1 {
	color: rgb(110, 151, 187);
	text-align: center;
	margin: 1.2rem 0;
	font-size: 4rem
}

h3 {
	margin: 1rem 0;
	color: rgb(221, 64, 64);
	font-style: italic;
	font-size: 3rem
}

main {
	display: grid;
	place-items: center;
}

.box-container {
	margin-top: 5rem;
	display: grid;
	place-items: center;
}

.box {
	min-width: 15rem;
	min-height: 10rem;
	background: bisque;
	margin: 2rem;
	font-size: 1.3rem;
	color: rgb(106, 185, 255);
	font-weight: 800;
}

.pic1 {
	background-image: url("./images/pexels-garrison-gao-7884213.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(-20deg);
}

.pic2 {
	background-image: url("./images/pexels-kulbir-8285569.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(20deg);
}

.pic3 {
	background-image: url("./images/pexels-rodrigo-pederzini-9456595.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: rotate(-15deg);
}

.row {
	font-size: 1.3rem;
	word-spacing: 0.2rem;
	border-radius: 1rem;
	padding: 1.2rem
}

.row:hover {
	background: white !important;
}

span {
	margin-right: 0.5rem;
	color: rgb(252, 152, 21);
}